/* Importación de fuentes de Google: */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	font-size: 16px;
}

/* Estilos para dispositivos móviles pequeños (vertical) */
@media (max-width:480px) {

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* margin: 5px; */
		margin-left: auto;		/* ??? */
		margin-right: auto;		/* ??? */
		gap: 5px;
		/* border:2px dashed black; */			/* Temporal */
		/* background-color: darkgrey; */ 	/* Temporal */
	}

	header {
		height: 80px;
		width: 94%;
		display: flex;
		flex-direction: row;
		gap: 10px;
		justify-content: space-evenly;
		align-items: center;

		margin-top: 10px;
		text-align: center;
        background-color: var(--color-1);
		border-radius: 15px;

		

		/* border: 3px solid green;  */						/* Temporal */
		background-color: rgb(0, 128, 0, 20%);  /* Temporal */
	}

	.logo{
		margin: 15px 5px 15px 15px;
	}

	h1{
		font-size: 170%;
		margin-right: 15px;
		font-family: "M PLUS 1 Code", monospace;
		font-weight: bolder;
		/* border: 1px dashed green; */	/* Temporal */
	}

	main {
		flex-grow: 1;	
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		width: 98%;
		border-radius: 15px;
		/* border: 3px solid orange; */ 								/* Temporal */
		/* background-color: rgb(255, 165, 0, 20%); */ /* Temporal */
	}

	.seccion_input{
		flex-grow: 1;
		width: 98%;
		/* margin-top: 4px; */
		margin-top: 8px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		border-radius: 15px;
		/* border: 2px dashed blue; */								/* Temporal */
		/* background-color: rgb(0, 0, 255, 40%); */	/* Temporal */
	}

	.info{
		font-size: 14px;
		text-align: center;
		font-family: "M PLUS 1 Code", monospace;
		font-weight:500;
	}

	.seccion_output{
		flex-grow: 1;
		width: 98%;
		margin-bottom: 8px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		border-radius: 15px;
		/* border: 2px dashed blue; */								/* Temporal */
		/* background-color: rgb(0, 0, 255, 40%); */	/* Temporal */
		}

		#texto_input, #texto_output{
			flex-grow: 1;
			width: 97%;
			margin: 5px;
			padding: 10px;
			border-radius: 12px;
			border: 0px none;
			background-color: rgb(255, 255, 0, 10%);
			box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.7);
			font-size: 120%;
			font-family: "M PLUS 1 Code", monospace;
			font-weight: 400;
		}

	footer {
		height: 45px;
		width: 94%;
		margin-bottom: 2px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 100%;
		border-radius: 10px;

		font-family: "M PLUS 1 Code", monospace;
		font-weight: 400;

		/* border: 3px solid green; */ 							/* Temporal */
		background-color: rgb(0, 128, 0, 20%); /* Temporal */
	}

	span{
		font-weight: bold;
	}

	

	/* #texto_input{
		width: 95%;
		border: 1px solid red;	
	} */

	/* .text-area{
		width: 50px;
	} */

	/* .botones{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		} */
}