/* Importación de fuentes de Google: */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

:root {
	
	/* Paleta Colores 1 */
	/* --color-1: #2f4858;
	--color-2: #4f6d7a;
	--color-3: #f8961e;	
	--color-4: #ffd23f;
	--color-5: #eaeaea;
	--color-6: #ffffff; */ 
	
	
	/* Paleta Colores 2 */
	--color-1: #273248;
	--color-2: #af4f41;
	--color-3: #fc7643;
	--color-4: #ffa364;
	--color-5: #ffebd2;
	--color-6: #ffffff;
	
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	font-size: 16px;
}


body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	background-color: var(--color-5);
}


header {
	height: 80px;
	width: 94%;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-evenly;
	align-items: center;

	margin-top: 10px;
	text-align: center;
}

.logo{
	margin: 15px 5px 15px 0px;
}

h1{
	font-size: 170%;
	margin-right: 15px;
	font-family: "M PLUS 1 Code", monospace;
	font-weight: bolder;
	color: var(--color-2);
}


main {
	flex-grow: 1;	
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 98%;
}

.seccion_input{
	flex-grow: 1;
	width: 98%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.info{
	font-size: 14px;
	text-align: center;
	font-family: "M PLUS 1 Code", monospace;
	font-weight:500;
	color: var(--color-2);
}

.seccion_output{
	flex-grow: 1;
	width: 98%;
	margin-bottom: 8px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

#texto_input{
	flex-grow: 1;
	width: 97%;
	margin: 5px;
	padding: 10px;
	border: 1px solid var(--color-1);
	border-radius: 12px;
	background-color:var(--color-1);
	box-shadow: 0px 0px 15px var(--color-1);

	font-family: "M PLUS 1 Code", monospace;	font-size: 125%;
	font-size: 100%;
	font-weight: 400;
	color: var(--color-4);
}

#texto_output{
	flex-grow: 1;
	width: 97%;
	margin: 5px;
	padding: 10px;
	border: 1px solid var(--color-3);
	border-radius: 12px;
	background-color: var(--color-3);
	box-shadow: 0px 0px 15px var(--color-3);
	
	font-family: "M PLUS 1 Code", monospace;
	font-size: 100%;
	font-weight: 600;
	color: var(--color-1);
}

footer {
	margin-bottom: 4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-family: "M PLUS 1 Code", monospace;
	font-weight: 400;
	font-size: 100%;
	color: var(--color-2);
}

span{
	font-weight: bold;
}

#btn_encriptar, #btn_desencriptar {
	width: 120px;
	height: 30px;
	font-family: "M PLUS 1 Code", monospace;
	font-weight: 600;
	font-size: 110%;
	color: var(--color-5);
	background-color: var(--color-1);	
	border-radius: 5px;
	box-shadow: none;
}

#btn_encriptar:hover, #btn_desencriptar:hover {
	box-shadow: 0px 0px 10px var(--color-1);
}

#btn_copiar{
	width: 160px;
	height: 30px;
	font-family: "M PLUS 1 Code", monospace;
	font-weight: 600;
	font-size: 110%;
	color: var(--color-1);
	background-color: var(--color-3);
	border: 2px solid var(--color-4); 	
	border-radius: 8px;
	box-shadow: none;
}

#btn_copiar:hover{
	box-shadow: 0px 0px 10px var(--color-3);
}


/* Estilos para dispositivos móviles (vertical) */
@media screen and (max-width:600px) and (orientation: portrait) {

	header {
		height: 80px;
	}

	.logo{
		width: 30px;
	}

	main {
		flex-direction: column;
		align-items: center;
	}

	.seccion_output{
		margin-bottom: 8px;
	}

	footer {
		height: 45px;
		width: 94%;
		border-radius: 10px;
		font-size: 100%;
	}
}


/* Estilos para dispositivos móviles (horizontal) */
@media screen and (max-height:600px) and (orientation: landscape) {

	header {
		height: 30px;
	}

	.logo{
		width: 20px;
	}

	main {
		flex-direction: row;
	}

	footer {
		height: 20px;
		width: 98%;
		border-radius: 6px;
		font-size: 80%;
	}
}